* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 67%;
}

body {
  background-color: #f9f9f9;
  height: 100rem;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: #fff;
}

.buttons {
  padding-left: 30px;
  columns: 0/1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.search {
  columns: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 65vw;
  height: 65vh;
}

.search__bar {
  padding-left: 20px;
  width: 70%;
  max-width: 600px;
  height: 60%;
}

.profile__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.profile {
  padding-right: 20px;
  columns: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}

img {
  width: 100%;
  height: 100%;
}

.hamburger,
.account {
  background: #fff;
  border: none;
  color: gray;
  font-size: 2rem;
}

.account {
  font-size: 2.8rem;
}

.magnifying_button {
  height: 60%;
  width: 6rem;
  border: 1px solid grey;
  background: #f8f8f8;
  color: rgb(153, 149, 149);
}

.icon1 {
  fill: grey;
}

.homepage {
  display: flex;
}

.content__video {
  margin-top: 3rem;
  margin-left: 10vw;

  width: 65%;
  padding: 0 auto;
  margin-right: 8rem;
  flex: 0 0 60%;
}

.title {
  font-size: 2rem;
  margin-top: 1rem;
}
.iconic {
  padding-right: 0.5rem;
}

.data {
  display: grid;
  grid-template-columns: 70% 30%;
  /* grid-template-rows: 50px 50px; */
  font-size: 1.4rem;
  color: grey;
  margin-top: 1rem;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}
.all__section {
  width: 125%;
}
.title {
  columns: 0/1;
  grid-row: 0/1;
}

.data__stats {
  columns: 0/1;
  grid-row: 1/2;
}

.social {
  columns: 1/2;
  grid-row: 1/2;
  display: flex;
  /* width: 30rem; */
  justify-content: space-between;
}

.data__views {
  margin-right: 0.5rem;
}

.description {
  margin-top: 2rem;
  margin-left: 0rem;
  display: flex;
  justify-content: space-between;
}

.name_logo {
  background-color: #689f39;
  font-size: 1.4rem;
  border-radius: 200px;
  padding: 1rem;
  width: 4rem;
  color: white;
  height: 4rem;
  text-align: center;
  margin-right: 1rem;
}

.subscriber__group {
  display: flex;
  align-items: center;
}
.odin {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.channel_name {
  display: flex;
  flex-direction: column;
}
.subscribe {
  margin-right: 0rem;
  background-color: red;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
  border: 1px solid red;
  color: white;
}

.details {
  margin-left: 5rem;
  margin-top: 4rem;
  font-size: 1.4rem;
  line-height: 1.6;
  width: 60%;
}

.show-more {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-top: 1rem;
  font-weight: bold;
}

.rightside {
  display: flex;
  flex-direction: column;
}

.rightside__option {
  font-size: 1.5rem;
  /*margin-left: 3rem;*/
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.toggle {
  margin-right: 6rem;
}

.video__suggestion {
  margin-top: 0.5rem;
  width: 40rem;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video__image {
  columns: 0/1;
}

.video__description {
  columns: 1/2;
  display: flex;
  flex-direction: column;
}
.up__next {
  margin-left: 3rem;
}
.video__header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-top: 0.7rem;
}

.video__maker {
  font-size: 1.3rem;
  color: gray;
  line-height: 1.5rem;
}
.footer__click {
  width: 10%;
  height: 8%;
}
