* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 67%;
}

body {
  background-color: #f9f9f9;
}

.header {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: #fff;
}

.buttons {
  columns: 0/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  columns: 1/2;
  border: #f9f9f9 solid 2px;
}

.profile {
  columns: 2/3;
  border: #9c1e1e solid 2px;
}

img {
  margin: 5px 0 0 0;
  width: 40%;
  height: 60%;
  z-index: -1;
}
